<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicRoom</title>
    <link rel="stylesheet" href="/assets/styles/menu.css">
</head>
<body>
    <input type="text" id="room-name-input" name="room-name">
    <button id="join-room-btn" onclick="join()">Join room</button>


    <script>
        const roomNameInput = document.getElementById("room-name-input");
        function join() {
            const room = roomNameInput.value;
            window.location.href = `/room/${room}`;
        }
    </script>
</body>
</html>